name: Main build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
      - 'release/**'
      - 'build/**'

jobs:
  validate:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    
    runs-on: ${{ matrix.os }}
    continue-on-error: false

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 10.0.x
    - name: Test
      run: dotnet test src --verbosity normal --blame-hang --blame-hang-timeout 30s
    - name: Samples
      run: |- 
        dotnet publish src --configuration Debug
        dotnet build tools/FileCompare --configuration Debug
        dotnet build samples
        dotnet build samples -t:ValidateAll
